## Handling_data

### 1.1 Collecting Common Data from layer1 and layer2

In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
layer1 = pd.read_json("data/layer1.json")
layer2 = pd.read_json("data/layer2.json")

#Shows the breakdown of recipes in layer1
layer1.groupby(['partition']).count()

           ingredients     url   title      id  instructions
partition
test            154045  154045  154045  154045        154045
train           720639  720639  720639  720639        720639
val             155036  155036  155036  155036        155036

In [3]:
#Filter layer 1 for only the recipes in Recipe 1M (Currently showing all the recipes in Recipe 1M+)
layer2ids = layer2['id']
common_data = layer1.loc[layer1['id'].isin(layer2ids)]

common_data.to_csv('data/common_data.csv',index = False)
common_data.head(10)

,ingredients,url,partition,title,id,instructions
3,"[{'text': '2 12 cups milk'}, {'text': '1 12 cu...",http://www.food.com/recipe/crunchy-onion-potat...,test,Crunchy Onion Potato Bake,00003a70b1,[{'text': 'Preheat oven to 350 degrees Fahrenh...
6,"[{'text': '2 Chicken thighs'}, {'text': '2 tsp...",https://cookpad.com/us/recipes/150100-kombu-te...,train,Kombu Tea Grilled Chicken Thigh,000075604a,[{'text': 'Pierce the skin of the chicken with...
7,"[{'text': '6 -8 cups fresh rhubarb, or'}, {'te...",http://www.food.com/recipe/strawberry-rhubarb-...,train,Strawberry Rhubarb Dump Cake,00007bfd16,[{'text': 'Put ingredients in a buttered 9 x 1...
8,"[{'text': '8 ounces, weight Light Fat Free Van...",http://tastykitchen.com/recipes/breakfastbrunc...,train,Yogurt Parfaits,000095fc1d,[{'text': 'Layer all ingredients in a serving ...
11,"[{'text': '1 teaspoon fennel seeds'}, {'text':...",http://www.epicurious.com/recipes/food/views/f...,train,Fennel-Rubbed Pork Tenderloin with Roasted Fen...,0000b1e2b5,[{'text': 'Preheat oven to 350F with rack in m...
12,"[{'text': '1 (750 ml) bottle rose wine, chille...",http://www.food.com/recipe/pink-sangria-305385,train,Pink Sangria,0000c79afb,"[{'text': 'In a pitcher, combine all the ingre..."
14,"[{'text': '200 grams Cake flour'}, {'text': '1...",https://cookpad.com/us/recipes/156014-brown-su...,train,Brown Sugar 'Karintou' Snacks,00010379bf,"[{'text': 'In a bowl, mix flour, baking powder..."
16,"[{'text': '1 12 lbs ground beef'}, {'text': '3...",http://www.food.com/recipe/grandmommys-mexical...,train,Grandmommy's Mexicali Meatloaf,00010c7867,"[{'text': 'Combine beef, oats, tomato juice, e..."
17,[{'text': '1 (10 ounce) package frozen chopped...,http://www.food.com/recipe/broccoli-rice-bake-...,train,Broccoli Rice Bake,00010d44c7,[{'text': 'Mix all ingredients and pour into a...
21,[{'text': '1 box salted soda crackers (I use s...,https://cookpad.com/us/recipes/345321-tinklees...,train,Tinklee's Vanilla Crack,00013266c9,[{'text': 'preheat oven to 350 degrees F rack ...

In [4]:
common_data

,ingredients,url,partition,title,id,instructions
3,"[{'text': '2 12 cups milk'}, {'text': '1 12 cu...",http://www.food.com/recipe/crunchy-onion-potat...,test,Crunchy Onion Potato Bake,00003a70b1,[{'text': 'Preheat oven to 350 degrees Fahrenh...
6,"[{'text': '2 Chicken thighs'}, {'text': '2 tsp...",https://cookpad.com/us/recipes/150100-kombu-te...,train,Kombu Tea Grilled Chicken Thigh,000075604a,[{'text': 'Pierce the skin of the chicken with...
7,"[{'text': '6 -8 cups fresh rhubarb, or'}, {'te...",http://www.food.com/recipe/strawberry-rhubarb-...,train,Strawberry Rhubarb Dump Cake,00007bfd16,[{'text': 'Put ingredients in a buttered 9 x 1...
8,"[{'text': '8 ounces, weight Light Fat Free Van...",http://tastykitchen.com/recipes/breakfastbrunc...,train,Yogurt Parfaits,000095fc1d,[{'text': 'Layer all ingredients in a serving ...
11,"[{'text': '1 teaspoon fennel seeds'}, {'text':...",http://www.epicurious.com/recipes/food/views/f...,train,Fennel-Rubbed Pork Tenderloin with Roasted Fen...,0000b1e2b5,[{'text': 'Preheat oven to 350F with rack in m...
...,...,...,...,...,...,...
1029710,"[{'text': '2 flour tortillas, Soft Taco Size'}...",http://www.food.com/recipe/spicy-steak-fajitas...,test,Spicy Steak Fajitas - Mexico,ffff70ccee,[{'text': 'Combine lime juice and flank steak....
1029713,"[{'text': '1 dozen eggs'}, {'text': '1 paprika...",https://cookpad.com/us/recipes/355411-devil-eggs,test,Devil Eggs,ffff7f3e9f,"[{'text': 'Boil eggs on medium for 30mins.'}, ..."
1029716,"[{'text': '150 grams Daikon radish'}, {'text':...",https://cookpad.com/us/recipes/153324-extremel...,train,Extremely Easy and Quick - Namul Daikon Salad,ffffcd4444,[{'text': 'Julienne the daikon and squeeze out...
1029717,"[{'text': '1 cup apple cider'}, {'text': '6 ta...",http://cooking.nytimes.com/recipes/1015164,train,Pan-Roasted Pork Chops With Apple Fritters,ffffd33513,"[{'text': 'In a large bowl, mix the apple cide..."
1029718,"[{'text': '1 pound ground veal'}, {'text': '1/...",http://www.foodandwine.com/recipes/polpette-sp...,train,Polpette in Spicy Tomato Sauce,ffffd533d7,"[{'text': 'Preheat the oven to 350.'}, {'text'..."

In [5]:
layer1

,ingredients,url,partition,title,id,instructions
0,"[{'text': '6 ounces penne'}, {'text': '2 cups ...",http://www.epicurious.com/recipes/food/views/-...,train,Worlds Best Mac and Cheese,000018c8a5,[{'text': 'Preheat the oven to 350 F. Butter o...
1,"[{'text': '1 c. elbow macaroni'}, {'text': '1 ...",http://cookeatshare.com/recipes/dilly-macaroni...,train,Dilly Macaroni Salad Recipe,000033e39b,[{'text': 'Cook macaroni according to package ...
2,"[{'text': '8 tomatoes, quartered'}, {'text': '...",http://www.foodnetwork.com/recipes/gazpacho1.html,train,Gazpacho,000035f7ed,[{'text': 'Add the tomatoes to a food processo...
3,"[{'text': '2 12 cups milk'}, {'text': '1 12 cu...",http://www.food.com/recipe/crunchy-onion-potat...,test,Crunchy Onion Potato Bake,00003a70b1,[{'text': 'Preheat oven to 350 degrees Fahrenh...
4,[{'text': '1 (3 ounce) package watermelon gela...,http://www.food.com/recipe/cool-n-easy-creamy-...,train,Cool 'n Easy Creamy Watermelon Pie,00004320bb,"[{'text': 'Dissolve Jello in boiling water.'},..."
...,...,...,...,...,...,...
1029715,"[{'text': '1 cup butter, room temperature'}, {...",http://www.food.com/recipe/baumkuchen-the-king...,val,Baumkuchen -- the King of Cakes!,ffffbb45d2,[{'text': 'Whip butter and sugar well until cr...
1029716,"[{'text': '150 grams Daikon radish'}, {'text':...",https://cookpad.com/us/recipes/153324-extremel...,train,Extremely Easy and Quick - Namul Daikon Salad,ffffcd4444,[{'text': 'Julienne the daikon and squeeze out...
1029717,"[{'text': '1 cup apple cider'}, {'text': '6 ta...",http://cooking.nytimes.com/recipes/1015164,train,Pan-Roasted Pork Chops With Apple Fritters,ffffd33513,"[{'text': 'In a large bowl, mix the apple cide..."
1029718,"[{'text': '1 pound ground veal'}, {'text': '1/...",http://www.foodandwine.com/recipes/polpette-sp...,train,Polpette in Spicy Tomato Sauce,ffffd533d7,"[{'text': 'Preheat the oven to 350.'}, {'text'..."
1029719,"[{'text': '8 cups water'}, {'text': '2/3 cup p...",http://www.epicurious.com/recipes/food/views/m...,train,Mexican-Style Sweetened Black Coffee (Cafe de ...,ffffdea29a,"[{'text': 'Bring water, brown sugar, molasses,..."

In [6]:
layer2

                id                                             images
0       00003a70b1  [{'id': '3e233001e2.jpg', 'url': 'http://img.s...
1       000075604a  [{'id': '6bdca6e490.jpg', 'url': 'https://img-...
2       00007bfd16  [{'id': '6409eab844.jpg', 'url': 'http://img.s...
3       000095fc1d  [{'id': 'a1374cdd98.jpg', 'url': 'http://tasty...
4       0000b1e2b5  [{'id': 'cb1a684683.jpg', 'url': 'http://asset...
...            ...                                                ...
402755  ffff70ccee  [{'id': '807de6023c.jpg', 'url': 'http://img.s...
402756  ffff7f3e9f  [{'id': 'dd05312b3b.jpg', 'url': 'https://img-...
402757  ffffcd4444  [{'id': 'be3b1c7122.jpg', 'url': 'https://img-...
402758  ffffd33513  [{'id': '15c1a2afd4.jpg', 'url': 'http://graph...
402759  ffffd533d7  [{'id': 'f2b6617941.jpg', 'url': 'http://cdn-i...

[402760 rows x 2 columns]

### 1.2 merged the requried data into reqired format

In [7]:
required_data=[]
count = 0
for row in range(0,402760):
    for item in layer2['images'][row]:
        required_data.append([layer2['id'][row], item['id']])
    count = count+1
    if(count%1000 == 0):
        print(str(count)+ " -- done!")
print('total '+str(count)+' completed!')

1000 -- done!
2000 -- done!
3000 -- done!
4000 -- done!
5000 -- done!
6000 -- done!
7000 -- done!
8000 -- done!
9000 -- done!
10000 -- done!
11000 -- done!
12000 -- done!
13000 -- done!
14000 -- done!
15000 -- done!
16000 -- done!
17000 -- done!
18000 -- done!
19000 -- done!
20000 -- done!
21000 -- done!
22000 -- done!
23000 -- done!
24000 -- done!
25000 -- done!
26000 -- done!
27000 -- done!
28000 -- done!
29000 -- done!
30000 -- done!
31000 -- done!
32000 -- done!
33000 -- done!
34000 -- done!
35000 -- done!
36000 -- done!
37000 -- done!
38000 -- done!
39000 -- done!
40000 -- done!
41000 -- done!
42000 -- done!
43000 -- done!
44000 -- done!
45000 -- done!
46000 -- done!
47000 -- done!
48000 -- done!
49000 -- done!
50000 -- done!
51000 -- done!
52000 -- done!
53000 -- done!
54000 -- done!
55000 -- done!
56000 -- done!
57000 -- done!
58000 -- done!
59000 -- done!
60000 -- done!
61000 -- done!
62000 -- done!
63000 -- done!
64000 -- done!
65000 -- done!
66000 -- done!
67000 -- done!
68000 -- done!
69000 -- done!
70000 -- done!
71000 -- done!
72000 -- done!
73000 -- done!
74000 -- done!
75000 -- done!
76000 -- done!
77000 -- done!
78000 -- done!
79000 -- done!
80000 -- done!
81000 -- done!
82000 -- done!
83000 -- done!
84000 -- done!
85000 -- done!
86000 -- done!
87000 -- done!
88000 -- done!
89000 -- done!
90000 -- done!
91000 -- done!
92000 -- done!
93000 -- done!
94000 -- done!
95000 -- done!
96000 -- done!
97000 -- done!
98000 -- done!
99000 -- done!
100000 -- done!
101000 -- done!
102000 -- done!
103000 -- done!
104000 -- done!
105000 -- done!
106000 -- done!
107000 -- done!
108000 -- done!
109000 -- done!
110000 -- done!
111000 -- done!
112000 -- done!
113000 -- done!
114000 -- done!
115000 -- done!
116000 -- done!
117000 -- done!
118000 -- done!
119000 -- done!
120000 -- done!
121000 -- done!
122000 -- done!
123000 -- done!
124000 -- done!
125000 -- done!
126000 -- done!
127000 -- done!
128000 -- done!
129000 -- done!
130000 -- done!
131000 -- done!
132000 -- done!
133000 -- done!
134000 -- done!
135000 -- done!
136000 -- done!
137000 -- done!
138000 -- done!
139000 -- done!
140000 -- done!
141000 -- done!
142000 -- done!
143000 -- done!
144000 -- done!
145000 -- done!
146000 -- done!
147000 -- done!
148000 -- done!
149000 -- done!
150000 -- done!
151000 -- done!
152000 -- done!
153000 -- done!
154000 -- done!
155000 -- done!
156000 -- done!
157000 -- done!
158000 -- done!
159000 -- done!
160000 -- done!
161000 -- done!
162000 -- done!
163000 -- done!
164000 -- done!
165000 -- done!
166000 -- done!
167000 -- done!
168000 -- done!
169000 -- done!
170000 -- done!
171000 -- done!
172000 -- done!
173000 -- done!
174000 -- done!
175000 -- done!
176000 -- done!
177000 -- done!
178000 -- done!
179000 -- done!
180000 -- done!
181000 -- done!
182000 -- done!
183000 -- done!
184000 -- done!
185000 -- done!
186000 -- done!
187000 -- done!
188000 -- done!
189000 -- done!
190000 -- done!
191000 -- done!
192000 -- done!
193000 -- done!
194000 -- done!
195000 -- done!
196000 -- done!
197000 -- done!
198000 -- done!
199000 -- done!
200000 -- done!
201000 -- done!
202000 -- done!
203000 -- done!
204000 -- done!
205000 -- done!
206000 -- done!
207000 -- done!
208000 -- done!
209000 -- done!
210000 -- done!
211000 -- done!
212000 -- done!
213000 -- done!
214000 -- done!
215000 -- done!
216000 -- done!
217000 -- done!
218000 -- done!
219000 -- done!
220000 -- done!
221000 -- done!
222000 -- done!
223000 -- done!
224000 -- done!
225000 -- done!
226000 -- done!
227000 -- done!
228000 -- done!
229000 -- done!
230000 -- done!
231000 -- done!
232000 -- done!
233000 -- done!
234000 -- done!
235000 -- done!
236000 -- done!
237000 -- done!
238000 -- done!
239000 -- done!
240000 -- done!
241000 -- done!
242000 -- done!
243000 -- done!
244000 -- done!
245000 -- done!
246000 -- done!
247000 -- done!
248000 -- done!
249000 -- done!
250000 -- done!
251000 -- done!
252000 -- done!
253000 -- done!
254000 -- done!
255000 -- done!
256000 -- done!
257000 -- done!
258000 -- done!
259000 -- done!
260000 -- done!
261000 -- done!
262000 -- done!
263000 -- done!
264000 -- done!
265000 -- done!
266000 -- done!
267000 -- done!
268000 -- done!
269000 -- done!
270000 -- done!
271000 -- done!
272000 -- done!
273000 -- done!
274000 -- done!
275000 -- done!
276000 -- done!
277000 -- done!
278000 -- done!
279000 -- done!
280000 -- done!
281000 -- done!
282000 -- done!
283000 -- done!
284000 -- done!
285000 -- done!
286000 -- done!
287000 -- done!
288000 -- done!
289000 -- done!
290000 -- done!
291000 -- done!
292000 -- done!
293000 -- done!
294000 -- done!
295000 -- done!
296000 -- done!
297000 -- done!
298000 -- done!
299000 -- done!
300000 -- done!
301000 -- done!
302000 -- done!
303000 -- done!
304000 -- done!
305000 -- done!
306000 -- done!
307000 -- done!
308000 -- done!
309000 -- done!
310000 -- done!
311000 -- done!
312000 -- done!
313000 -- done!
314000 -- done!
315000 -- done!
316000 -- done!
317000 -- done!
318000 -- done!
319000 -- done!
320000 -- done!
321000 -- done!
322000 -- done!
323000 -- done!
324000 -- done!
325000 -- done!
326000 -- done!
327000 -- done!
328000 -- done!
329000 -- done!
330000 -- done!
331000 -- done!
332000 -- done!
333000 -- done!
334000 -- done!
335000 -- done!
336000 -- done!
337000 -- done!
338000 -- done!
339000 -- done!
340000 -- done!
341000 -- done!
342000 -- done!
343000 -- done!
344000 -- done!
345000 -- done!
346000 -- done!
347000 -- done!
348000 -- done!
349000 -- done!
350000 -- done!
351000 -- done!
352000 -- done!
353000 -- done!
354000 -- done!
355000 -- done!
356000 -- done!
357000 -- done!
358000 -- done!
359000 -- done!
360000 -- done!
361000 -- done!
362000 -- done!
363000 -- done!
364000 -- done!
365000 -- done!
366000 -- done!
367000 -- done!
368000 -- done!
369000 -- done!
370000 -- done!
371000 -- done!
372000 -- done!
373000 -- done!
374000 -- done!
375000 -- done!
376000 -- done!
377000 -- done!
378000 -- done!
379000 -- done!
380000 -- done!
381000 -- done!
382000 -- done!
383000 -- done!
384000 -- done!
385000 -- done!
386000 -- done!
387000 -- done!
388000 -- done!
389000 -- done!
390000 -- done!
391000 -- done!
392000 -- done!
393000 -- done!
394000 -- done!
395000 -- done!
396000 -- done!
397000 -- done!
398000 -- done!
399000 -- done!
400000 -- done!
401000 -- done!
402000 -- done!
total 402760 completed!

In [8]:
df = pd.DataFrame(required_data,columns=
                 ['id', 'image_id'])
df.to_csv('data/required_data.csv',index = False)
df

                id        image_id
0       00003a70b1  3e233001e2.jpg
1       00003a70b1  7f749987f9.jpg
2       00003a70b1  aaf6b2dcd3.jpg
3       000075604a  6bdca6e490.jpg
4       00007bfd16  6409eab844.jpg
...            ...             ...
887531  ffff7f3e9f  dd05312b3b.jpg
887532  ffff7f3e9f  ff6a40d650.jpg
887533  ffffcd4444  be3b1c7122.jpg
887534  ffffd33513  15c1a2afd4.jpg
887535  ffffd533d7  f2b6617941.jpg

[887536 rows x 2 columns]

In [9]:
del(layer1)
del(layer2)

Observations:-

    - common_data csv file contains the data regarding the common data in two layers json files
    - required_data csv file contains the common data images details(many images can have similar ingredients)

## 1.3 collecting unque_data

    -since many images have same ingredient informatio

In [3]:
layer2 = pd.read_json("data/layer2.json")
required_data2=[]
count = 0
for row in range(0,402760):
    required_data2.append([layer2['id'][row], layer2['images'][row][0]['id'], layer2['images'][row][0]['url']])
    count = count+1
    if(count%1000 == 0):
        print(str(count)+ " -- done!")
print('total '+str(count)+' completed!')

1000 -- done!
2000 -- done!
3000 -- done!
4000 -- done!
5000 -- done!
6000 -- done!
7000 -- done!
8000 -- done!
9000 -- done!
10000 -- done!
11000 -- done!
12000 -- done!
13000 -- done!
14000 -- done!
15000 -- done!
16000 -- done!
17000 -- done!
18000 -- done!
19000 -- done!
20000 -- done!
21000 -- done!
22000 -- done!
23000 -- done!
24000 -- done!
25000 -- done!
26000 -- done!
27000 -- done!
28000 -- done!
29000 -- done!
30000 -- done!
31000 -- done!
32000 -- done!
33000 -- done!
34000 -- done!
35000 -- done!
36000 -- done!
37000 -- done!
38000 -- done!
39000 -- done!
40000 -- done!
41000 -- done!
42000 -- done!
43000 -- done!
44000 -- done!
45000 -- done!
46000 -- done!
47000 -- done!
48000 -- done!
49000 -- done!
50000 -- done!
51000 -- done!
52000 -- done!
53000 -- done!
54000 -- done!
55000 -- done!
56000 -- done!
57000 -- done!
58000 -- done!
59000 -- done!
60000 -- done!
61000 -- done!
62000 -- done!
63000 -- done!
64000 -- done!
65000 -- done!
66000 -- done!
67000 -- done!
68000 -- done!
69000 -- done!
70000 -- done!
71000 -- done!
72000 -- done!
73000 -- done!
74000 -- done!
75000 -- done!
76000 -- done!
77000 -- done!
78000 -- done!
79000 -- done!
80000 -- done!
81000 -- done!
82000 -- done!
83000 -- done!
84000 -- done!
85000 -- done!
86000 -- done!
87000 -- done!
88000 -- done!
89000 -- done!
90000 -- done!
91000 -- done!
92000 -- done!
93000 -- done!
94000 -- done!
95000 -- done!
96000 -- done!
97000 -- done!
98000 -- done!
99000 -- done!
100000 -- done!
101000 -- done!
102000 -- done!
103000 -- done!
104000 -- done!
105000 -- done!
106000 -- done!
107000 -- done!
108000 -- done!
109000 -- done!
110000 -- done!
111000 -- done!
112000 -- done!
113000 -- done!
114000 -- done!
115000 -- done!
116000 -- done!
117000 -- done!
118000 -- done!
119000 -- done!
120000 -- done!
121000 -- done!
122000 -- done!
123000 -- done!
124000 -- done!
125000 -- done!
126000 -- done!
127000 -- done!
128000 -- done!
129000 -- done!
130000 -- done!
131000 -- done!
132000 -- done!
133000 -- done!
134000 -- done!
135000 -- done!
136000 -- done!
137000 -- done!
138000 -- done!
139000 -- done!
140000 -- done!
141000 -- done!
142000 -- done!
143000 -- done!
144000 -- done!
145000 -- done!
146000 -- done!
147000 -- done!
148000 -- done!
149000 -- done!
150000 -- done!
151000 -- done!
152000 -- done!
153000 -- done!
154000 -- done!
155000 -- done!
156000 -- done!
157000 -- done!
158000 -- done!
159000 -- done!
160000 -- done!
161000 -- done!
162000 -- done!
163000 -- done!
164000 -- done!
165000 -- done!
166000 -- done!
167000 -- done!
168000 -- done!
169000 -- done!
170000 -- done!
171000 -- done!
172000 -- done!
173000 -- done!
174000 -- done!
175000 -- done!
176000 -- done!
177000 -- done!
178000 -- done!
179000 -- done!
180000 -- done!
181000 -- done!
182000 -- done!
183000 -- done!
184000 -- done!
185000 -- done!
186000 -- done!
187000 -- done!
188000 -- done!
189000 -- done!
190000 -- done!
191000 -- done!
192000 -- done!
193000 -- done!
194000 -- done!
195000 -- done!
196000 -- done!
197000 -- done!
198000 -- done!
199000 -- done!
200000 -- done!
201000 -- done!
202000 -- done!
203000 -- done!
204000 -- done!
205000 -- done!
206000 -- done!
207000 -- done!
208000 -- done!
209000 -- done!
210000 -- done!
211000 -- done!
212000 -- done!
213000 -- done!
214000 -- done!
215000 -- done!
216000 -- done!
217000 -- done!
218000 -- done!
219000 -- done!
220000 -- done!
221000 -- done!
222000 -- done!
223000 -- done!
224000 -- done!
225000 -- done!
226000 -- done!
227000 -- done!
228000 -- done!
229000 -- done!
230000 -- done!
231000 -- done!
232000 -- done!
233000 -- done!
234000 -- done!
235000 -- done!
236000 -- done!
237000 -- done!
238000 -- done!
239000 -- done!
240000 -- done!
241000 -- done!
242000 -- done!
243000 -- done!
244000 -- done!
245000 -- done!
246000 -- done!
247000 -- done!
248000 -- done!
249000 -- done!
250000 -- done!
251000 -- done!
252000 -- done!
253000 -- done!
254000 -- done!
255000 -- done!
256000 -- done!
257000 -- done!
258000 -- done!
259000 -- done!
260000 -- done!
261000 -- done!
262000 -- done!
263000 -- done!
264000 -- done!
265000 -- done!
266000 -- done!
267000 -- done!
268000 -- done!
269000 -- done!
270000 -- done!
271000 -- done!
272000 -- done!
273000 -- done!
274000 -- done!
275000 -- done!
276000 -- done!
277000 -- done!
278000 -- done!
279000 -- done!
280000 -- done!
281000 -- done!
282000 -- done!
283000 -- done!
284000 -- done!
285000 -- done!
286000 -- done!
287000 -- done!
288000 -- done!
289000 -- done!
290000 -- done!
291000 -- done!
292000 -- done!
293000 -- done!
294000 -- done!
295000 -- done!
296000 -- done!
297000 -- done!
298000 -- done!
299000 -- done!
300000 -- done!
301000 -- done!
302000 -- done!
303000 -- done!
304000 -- done!
305000 -- done!
306000 -- done!
307000 -- done!
308000 -- done!
309000 -- done!
310000 -- done!
311000 -- done!
312000 -- done!
313000 -- done!
314000 -- done!
315000 -- done!
316000 -- done!
317000 -- done!
318000 -- done!
319000 -- done!
320000 -- done!
321000 -- done!
322000 -- done!
323000 -- done!
324000 -- done!
325000 -- done!
326000 -- done!
327000 -- done!
328000 -- done!
329000 -- done!
330000 -- done!
331000 -- done!
332000 -- done!
333000 -- done!
334000 -- done!
335000 -- done!
336000 -- done!
337000 -- done!
338000 -- done!
339000 -- done!
340000 -- done!
341000 -- done!
342000 -- done!
343000 -- done!
344000 -- done!
345000 -- done!
346000 -- done!
347000 -- done!
348000 -- done!
349000 -- done!
350000 -- done!
351000 -- done!
352000 -- done!
353000 -- done!
354000 -- done!
355000 -- done!
356000 -- done!
357000 -- done!
358000 -- done!
359000 -- done!
360000 -- done!
361000 -- done!
362000 -- done!
363000 -- done!
364000 -- done!
365000 -- done!
366000 -- done!
367000 -- done!
368000 -- done!
369000 -- done!
370000 -- done!
371000 -- done!
372000 -- done!
373000 -- done!
374000 -- done!
375000 -- done!
376000 -- done!
377000 -- done!
378000 -- done!
379000 -- done!
380000 -- done!
381000 -- done!
382000 -- done!
383000 -- done!
384000 -- done!
385000 -- done!
386000 -- done!
387000 -- done!
388000 -- done!
389000 -- done!
390000 -- done!
391000 -- done!
392000 -- done!
393000 -- done!
394000 -- done!
395000 -- done!
396000 -- done!
397000 -- done!
398000 -- done!
399000 -- done!
400000 -- done!
401000 -- done!
402000 -- done!
total 402760 completed!

In [6]:
df = pd.DataFrame(required_data2,columns = ['id', 'image_id', 'url'])
df.to_csv('data/required_unique_data.csv',index = False)
df

,id,image_id,url
0,00003a70b1,3e233001e2.jpg,"http://img.sndimg.com/food/image/upload/w_512,..."
1,000075604a,6bdca6e490.jpg,https://img-global.cpcdn.com/001_recipes/58069...
2,00007bfd16,6409eab844.jpg,"http://img.sndimg.com/food/image/upload/w_512,..."
3,000095fc1d,a1374cdd98.jpg,http://tastykitchen.com/recipes/wp-content/upl...
4,0000b1e2b5,cb1a684683.jpg,http://assets.epicurious.com/photos/5609a4d662...
...,...,...,...
402755,ffff70ccee,807de6023c.jpg,"http://img.sndimg.com/food/image/upload/w_512,..."
402756,ffff7f3e9f,dd05312b3b.jpg,https://img-global.cpcdn.com/001_photo_reports...
402757,ffffcd4444,be3b1c7122.jpg,https://img-global.cpcdn.com/001_recipes/47309...
402758,ffffd33513,15c1a2afd4.jpg,http://graphics8.nytimes.com/images/2013/09/29...
402759,ffffd533d7,f2b6617941.jpg,http://cdn-image.foodandwine.com/sites/default...

In [7]:
df1 = pd.read_csv('data/common_data.csv')
df2 = pd.read_csv('data/required_unique_data.csv')

In [8]:
df1.columns

Index(['ingredients', 'url', 'partition', 'title', 'id', 'instructions'], dtype='object')

In [9]:
df2

,id,image_id,url
0,00003a70b1,3e233001e2.jpg,"http://img.sndimg.com/food/image/upload/w_512,..."
1,000075604a,6bdca6e490.jpg,https://img-global.cpcdn.com/001_recipes/58069...
2,00007bfd16,6409eab844.jpg,"http://img.sndimg.com/food/image/upload/w_512,..."
3,000095fc1d,a1374cdd98.jpg,http://tastykitchen.com/recipes/wp-content/upl...
4,0000b1e2b5,cb1a684683.jpg,http://assets.epicurious.com/photos/5609a4d662...
...,...,...,...
402755,ffff70ccee,807de6023c.jpg,"http://img.sndimg.com/food/image/upload/w_512,..."
402756,ffff7f3e9f,dd05312b3b.jpg,https://img-global.cpcdn.com/001_photo_reports...
402757,ffffcd4444,be3b1c7122.jpg,https://img-global.cpcdn.com/001_recipes/47309...
402758,ffffd33513,15c1a2afd4.jpg,http://graphics8.nytimes.com/images/2013/09/29...
402759,ffffd533d7,f2b6617941.jpg,http://cdn-image.foodandwine.com/sites/default...

In [10]:
df_merge = pd.merge(df1, df2, on='id')

In [11]:
df_merge.to_csv('data/merged_data.csv', index = False)

In [12]:
df_merge[['partition','id','image_id']].to_csv('data/image_data.csv',index = False)

### 1.4 concating required information

In [2]:
df = pd.read_csv('data/merged_data.csv')
df

,ingredients,url_x,partition,title,id,instructions,image_id,url_y
0,"[{'text': '2 12 cups milk'}, {'text': '1 12 cu...",http://www.food.com/recipe/crunchy-onion-potat...,test,Crunchy Onion Potato Bake,00003a70b1,[{'text': 'Preheat oven to 350 degrees Fahrenh...,3e233001e2.jpg,"http://img.sndimg.com/food/image/upload/w_512,..."
1,"[{'text': '2 Chicken thighs'}, {'text': '2 tsp...",https://cookpad.com/us/recipes/150100-kombu-te...,train,Kombu Tea Grilled Chicken Thigh,000075604a,[{'text': 'Pierce the skin of the chicken with...,6bdca6e490.jpg,https://img-global.cpcdn.com/001_recipes/58069...
2,"[{'text': '6 -8 cups fresh rhubarb, or'}, {'te...",http://www.food.com/recipe/strawberry-rhubarb-...,train,Strawberry Rhubarb Dump Cake,00007bfd16,[{'text': 'Put ingredients in a buttered 9 x 1...,6409eab844.jpg,"http://img.sndimg.com/food/image/upload/w_512,..."
3,"[{'text': '8 ounces, weight Light Fat Free Van...",http://tastykitchen.com/recipes/breakfastbrunc...,train,Yogurt Parfaits,000095fc1d,[{'text': 'Layer all ingredients in a serving ...,a1374cdd98.jpg,http://tastykitchen.com/recipes/wp-content/upl...
4,"[{'text': '1 teaspoon fennel seeds'}, {'text':...",http://www.epicurious.com/recipes/food/views/f...,train,Fennel-Rubbed Pork Tenderloin with Roasted Fen...,0000b1e2b5,[{'text': 'Preheat oven to 350F with rack in m...,cb1a684683.jpg,http://assets.epicurious.com/photos/5609a4d662...
...,...,...,...,...,...,...,...,...
402755,"[{'text': '2 flour tortillas, Soft Taco Size'}...",http://www.food.com/recipe/spicy-steak-fajitas...,test,Spicy Steak Fajitas - Mexico,ffff70ccee,[{'text': 'Combine lime juice and flank steak....,807de6023c.jpg,"http://img.sndimg.com/food/image/upload/w_512,..."
402756,"[{'text': '1 dozen eggs'}, {'text': '1 paprika...",https://cookpad.com/us/recipes/355411-devil-eggs,test,Devil Eggs,ffff7f3e9f,"[{'text': 'Boil eggs on medium for 30mins.'}, ...",dd05312b3b.jpg,https://img-global.cpcdn.com/001_photo_reports...
402757,"[{'text': '150 grams Daikon radish'}, {'text':...",https://cookpad.com/us/recipes/153324-extremel...,train,Extremely Easy and Quick - Namul Daikon Salad,ffffcd4444,[{'text': 'Julienne the daikon and squeeze out...,be3b1c7122.jpg,https://img-global.cpcdn.com/001_recipes/47309...
402758,"[{'text': '1 cup apple cider'}, {'text': '6 ta...",http://cooking.nytimes.com/recipes/1015164,train,Pan-Roasted Pork Chops With Apple Fritters,ffffd33513,"[{'text': 'In a large bowl, mix the apple cide...",15c1a2afd4.jpg,http://graphics8.nytimes.com/images/2013/09/29...
402759,"[{'text': '1 pound ground veal'}, {'text': '1/...",http://www.foodandwine.com/recipes/polpette-sp...,train,Polpette in Spicy Tomato Sauce,ffffd533d7,"[{'text': 'Preheat the oven to 350.'}, {'text'...",f2b6617941.jpg,http://cdn-image.foodandwine.com/sites/default...

In [3]:
df[['id', 'image_id','title', 'ingredients', 'instructions']][df['partition'] == 'train'].to_csv('data/train_data_detail.csv',index= False)

In [4]:
df[['id', 'image_id', 'title', 'ingredients', 'instructions']][df['partition'] == 'test'].to_csv('data/test_data_detail.csv',index= False)

In [7]:
df[['id','image_id','title','instructions']][df['id'] == '00a72baab9']

,id,image_id,title,instructions
1054,00a72baab9,da4d6f9f2e.jpg,Vanilla Butter-Creme Chocolate Ganache Birthda...,"[{'text': 'Preheat oven to 350F.'}, {'text': '..."

In [13]:
# 51209	2ebf25b292	15ac2fa901.jpg
# 24282	16030674bc	441ba3397e.jpg
# 190574	ada4c8b97d	ea41a8852e.jpg

# 167348	9897ed7e4f	a0b52d4e51.jpg
# 191111	ae20ee73e8	43a6d9b40e.jpg
# 162980	94afd954cc	bbd3e7c647.jpg

df[['id','image_id','title','instructions']][df['id'] == '94afd954cc']

,id,image_id,title,instructions
233735,94afd954cc,bbd3e7c647.jpg,Calhoun's Knoxville Tennessee Spinach Maria,"[{'text': 'Thaw spinach.'}, {'text': 'Squeeze ..."

### Collecting Test Images

In [2]:
image_data = []
count = 0
for image in os.listdir('data/train'):
    image_data.append([image[0:10],image[11:]])
    count = count + 1
    if(count % 1000 == 0):
        print(str(count) + "------- collected!")
image_df = pd.DataFrame(image_data, columns = ['id', 'image_id'])
del(image_data)

1000------- collected!
2000------- collected!
3000------- collected!
4000------- collected!
5000------- collected!
6000------- collected!
7000------- collected!
8000------- collected!
9000------- collected!
10000------- collected!
11000------- collected!
12000------- collected!
13000------- collected!
14000------- collected!
15000------- collected!
16000------- collected!
17000------- collected!
18000------- collected!
19000------- collected!
20000------- collected!
21000------- collected!
22000------- collected!
23000------- collected!
24000------- collected!
25000------- collected!
26000------- collected!
27000------- collected!
28000------- collected!
29000------- collected!
30000------- collected!
31000------- collected!
32000------- collected!
33000------- collected!
34000------- collected!
35000------- collected!
36000------- collected!
37000------- collected!
38000------- collected!
39000------- collected!
40000------- collected!
41000------- collected!
42000------- collected!
43000------- collected!
44000------- collected!
45000------- collected!
46000------- collected!
47000------- collected!
48000------- collected!
49000------- collected!
50000------- collected!
51000------- collected!
52000------- collected!
53000------- collected!
54000------- collected!
55000------- collected!
56000------- collected!
57000------- collected!
58000------- collected!
59000------- collected!
60000------- collected!
61000------- collected!
62000------- collected!
63000------- collected!
64000------- collected!
65000------- collected!
66000------- collected!
67000------- collected!
68000------- collected!
69000------- collected!
70000------- collected!
71000------- collected!
72000------- collected!
73000------- collected!
74000------- collected!
75000------- collected!
76000------- collected!
77000------- collected!
78000------- collected!
79000------- collected!
80000------- collected!
81000------- collected!
82000------- collected!
83000------- collected!
84000------- collected!
85000------- collected!
86000------- collected!
87000------- collected!
88000------- collected!
89000------- collected!
90000------- collected!
91000------- collected!
92000------- collected!
93000------- collected!
94000------- collected!
95000------- collected!
96000------- collected!
97000------- collected!
98000------- collected!
99000------- collected!
100000------- collected!
101000------- collected!
102000------- collected!
103000------- collected!
104000------- collected!
105000------- collected!
106000------- collected!
107000------- collected!
108000------- collected!
109000------- collected!
110000------- collected!
111000------- collected!
112000------- collected!
113000------- collected!
114000------- collected!
115000------- collected!
116000------- collected!
117000------- collected!
118000------- collected!
119000------- collected!
120000------- collected!
121000------- collected!
122000------- collected!
123000------- collected!
124000------- collected!
125000------- collected!
126000------- collected!
127000------- collected!
128000------- collected!
129000------- collected!
130000------- collected!
131000------- collected!
132000------- collected!
133000------- collected!
134000------- collected!
135000------- collected!
136000------- collected!
137000------- collected!
138000------- collected!
139000------- collected!
140000------- collected!
141000------- collected!
142000------- collected!
143000------- collected!
144000------- collected!
145000------- collected!
146000------- collected!
147000------- collected!
148000------- collected!
149000------- collected!
150000------- collected!
151000------- collected!
152000------- collected!
153000------- collected!
154000------- collected!
155000------- collected!
156000------- collected!
157000------- collected!
158000------- collected!
159000------- collected!
160000------- collected!
161000------- collected!
162000------- collected!
163000------- collected!
164000------- collected!
165000------- collected!
166000------- collected!
167000------- collected!
168000------- collected!
169000------- collected!
170000------- collected!
171000------- collected!
172000------- collected!
173000------- collected!
174000------- collected!
175000------- collected!
176000------- collected!
177000------- collected!
178000------- collected!
179000------- collected!
180000------- collected!
181000------- collected!
182000------- collected!
183000------- collected!
184000------- collected!
185000------- collected!
186000------- collected!
187000------- collected!
188000------- collected!
189000------- collected!
190000------- collected!
191000------- collected!
192000------- collected!
193000------- collected!
194000------- collected!
195000------- collected!
196000------- collected!
197000------- collected!
198000------- collected!
199000------- collected!
200000------- collected!
201000------- collected!
202000------- collected!
203000------- collected!
204000------- collected!
205000------- collected!
206000------- collected!
207000------- collected!
208000------- collected!
209000------- collected!
210000------- collected!
211000------- collected!
212000------- collected!
213000------- collected!
214000------- collected!
215000------- collected!
216000------- collected!
217000------- collected!
218000------- collected!
219000------- collected!
220000------- collected!
221000------- collected!
222000------- collected!
223000------- collected!
224000------- collected!
225000------- collected!
226000------- collected!
227000------- collected!
228000------- collected!
229000------- collected!
230000------- collected!
231000------- collected!
232000------- collected!
233000------- collected!
234000------- collected!
235000------- collected!
236000------- collected!
237000------- collected!
238000------- collected!
239000------- collected!
240000------- collected!
241000------- collected!
242000------- collected!
243000------- collected!
244000------- collected!
245000------- collected!
246000------- collected!
247000------- collected!
248000------- collected!
249000------- collected!
250000------- collected!
251000------- collected!
252000------- collected!
253000------- collected!
254000------- collected!
255000------- collected!
256000------- collected!
257000------- collected!
258000------- collected!
259000------- collected!
260000------- collected!
261000------- collected!
262000------- collected!
263000------- collected!
264000------- collected!
265000------- collected!
266000------- collected!
267000------- collected!
268000------- collected!
269000------- collected!
270000------- collected!
271000------- collected!
272000------- collected!
273000------- collected!
274000------- collected!
275000------- collected!
276000------- collected!
277000------- collected!
278000------- collected!
279000------- collected!
280000------- collected!

In [3]:
image_df

                id        image_id
0       000075604a  6bdca6e490.jpg
1       00007bfd16  6409eab844.jpg
2       000095fc1d  a1374cdd98.jpg
3       0000b1e2b5  cb1a684683.jpg
4       0000c79afb  2f4b4c4452.jpg
...            ...             ...
280742  ffff04dc41  30eb51d14c.jpg
280743  ffff43701e  eda1a4e605.jpg
280744  ffffcd4444  be3b1c7122.jpg
280745  ffffd33513  15c1a2afd4.jpg
280746  ffffd533d7  f2b6617941.jpg

[280747 rows x 2 columns]

In [4]:
ttl_img_data_df = pd.read_csv('data/required_data.csv')
ttl_img_data_df

                id        image_id
0       00003a70b1  3e233001e2.jpg
1       00003a70b1  7f749987f9.jpg
2       00003a70b1  aaf6b2dcd3.jpg
3       000075604a  6bdca6e490.jpg
4       00007bfd16  6409eab844.jpg
...            ...             ...
887531  ffff7f3e9f  dd05312b3b.jpg
887532  ffff7f3e9f  ff6a40d650.jpg
887533  ffffcd4444  be3b1c7122.jpg
887534  ffffd33513  15c1a2afd4.jpg
887535  ffffd533d7  f2b6617941.jpg

[887536 rows x 2 columns]

In [5]:
common_img_data = ttl_img_data_df.loc[ttl_img_data_df['id'].isin(image_df['id'])]
common_img_data

                id        image_id
3       000075604a  6bdca6e490.jpg
4       00007bfd16  6409eab844.jpg
5       00007bfd16  f7cb3de295.jpg
6       000095fc1d  a1374cdd98.jpg
7       0000b1e2b5  cb1a684683.jpg
...            ...             ...
887527  ffff04dc41  d72bbd46c9.jpg
887528  ffff43701e  eda1a4e605.jpg
887533  ffffcd4444  be3b1c7122.jpg
887534  ffffd33513  15c1a2afd4.jpg
887535  ffffd533d7  f2b6617941.jpg

[617812 rows x 2 columns]

In [6]:
test_img_data = common_img_data[common_img_data['image_id'].isin(image_df['image_id'])==False]
test_img_data

                id        image_id
5       00007bfd16  f7cb3de295.jpg
11      00010c7867  5ab32d58e0.jpg
23      00034ad6cc  0498c67485.jpg
24      00034ad6cc  dea08eb2a0.jpg
26      00034cf3f3  8628106245.jpg
...            ...             ...
887500  fffb388521  f859088c8c.jpg
887501  fffb388521  f8699a8eb8.jpg
887508  fffc155fce  4c3b48cd62.jpg
887520  fffe837825  91819fb179.jpg
887527  ffff04dc41  d72bbd46c9.jpg

[337065 rows x 2 columns]

In [7]:
test_img_data.groupby('id').count()

            image_id
id
00007bfd16         1
00010c7867         1
00034ad6cc         2
00034cf3f3         1
000875fa03         1
...              ...
fff709b5ec         1
fffb388521         6
fffc155fce         1
fffe837825         1
ffff04dc41         1

[77916 rows x 1 columns]

In [23]:
test_img_data.to_csv('data/test_images.csv',index=False)

In [8]:
test_img_data.head(20000).to_csv('data/test_img_sub.csv',index=False)

In [2]:
import os

In [12]:
data = []
count = 0
for image in os.listdir('data/test'):
    data.append([image[0:10], image[11:]])
    count = count + 1
    if(count % 10000 == 0):
        print(count)
print(count)

10000
14236

In [9]:
df = pd.DataFrame(data, columns = ['id', 'image_id'])

In [11]:
df.to_csv('data/train_image_data.csv', index=False)